*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

:root{
  --yellow-bg: #c09d00;
  --grey-bg: #575757;
  --green-bg: #037a31;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.square{
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FEFEFE;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
}

.about{
  position: absolute;
  width: 600px;
  background-color: #0f0f0f;
  border-radius: 14px;
  z-index: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.line{
  display: flex;
  gap: 5px;
}

.table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


p{
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #FEFEFE;
  font-weight: bold;
}

button{
  border: 2px solid white;
  width: fit-content;
  border-radius: 10%;
  padding: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}



.square.green {
  background-color: var(--green-bg);
  animation: setColorGreen 0.8s linear;
}

.square.yellow {
  background-color: var(--yellow-bg);
  animation: setColorYellow 0.8s linear;

}

.square.none {
  background-color: var(--grey-bg);
  animation: setColorGrey 0.8s linear;

}

@keyframes setColorGreen {
  from {
    background-color: transparent;
  }

  to {
    background-color: var(--green-bg);
  }
}


@keyframes setColorGrey {
  from {
    background-color: transparent;
    
  }

  to {
    background-color: var(--grey-bg);
  }
}


@keyframes setColorYellow {
  
  from {
    background-color: transparent;
  }

  to {
    background-color: var(--yellow-bg);
  }
}